* {
  margin: 0;
}



@media (max-width:800px){
 .cards{
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
  }
}

@media (min-width:800px){
.cards{
   justify-content: center;;
   display: grid;
   grid-template-columns: repeat(3, 0.3fr);
   grid-template-rows: minmax(600px,auto);
   column-gap: 30px;
   margin-top: 10px;
 }
 .card-image{
    padding: 20px;
    cursor: pointer;
    margin:0;
 }
 .card{
    height: 100%;
    margin: 0;
    border-radius: 5%;
 }
}

.card{
 text-align:left;
  background: linear-gradient(to top, #be7474, 50%,  white 50%);
  justify-content: center;
  background-size: 100% 200%;
  background-position: top;
  transition: all 1s ease;
  animation-name: curtains;
}

@keyframes curtains{
  0% {opacity:0;}
  100%{opacity:1;}
}
.card:hover{
  background-position: bottom;
  box-shadow:2px 2px 2px 2px #debaba;
  

  & .excerpt-card{
    color: white;
  }
}



.excerpt-card{
  font-family: "Poiret One",Arial;
  word-spacing: 10px;
  line-height:150%;
  color : black;
  margin-left: 10px;

}

.whole-img{
  cursor: pointer;
  width:50%;
  display: block;
}

.date{
  float: right;
  margin-right: 20px;
  font-style: italic;
 }

 .back{
  float: left; 
  margin: 30px;
  border-radius:50%;
 }

.back:hover{
  background-color: #e8cece;
}
