@media (max-width:800px){
 .cards{
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
  }
}

@media (min-width:800px){
.cards{
   justify-content: center;;
   display: grid;
   grid-template-columns: 0.6fr 0.6fr 0.6fr;
   grid-template-rows: 600px;
   column-gap: 30px;
   margin: 10px;
 }
 .card-image{
    width:50%;
    padding: 20px;
    text-align: center;
    position:relative;
    left: 20%;
 }
 .card{
    border:solid 0.5px black;
    height: 100%;
 }
}

.card{
  text-align: center;
  justify-content: center;
 
}

.excerpt-card{
  font-family: "Fira mono",Arial;
  word-spacing: 10px;
  line-height:150%;
}
