@keyframes heart{                           
  0% {
      transform: scale(1.3);
      }   
  40% {
      transform: scale(0.76);
      }   
  80%{
    transform: scale(1.3);
  }
}

@media only screen and (max-width:500px){
  div > .logo{
    right: 30%; 
  }
}


.logo{
  height: 200px;
  width: 200px;
  position: absolute;
  right: 45%;
  top: 40%;
  animation-name: heart;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: white ;
  border-radius: 50%; ;
}

.logo:hover{
  animation-play-state: paused;;
  border: solid 2px black;
  cursor:pointer;
}


.lady{
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.index{
  text-align:center;;
}
.font-index{
  font-family: "italianno",Arial, Helvetica, sans-serif;
  font-size: 7rem;
  font-style: italic;
  font-display: fallback;
  margin: 10px; 
}

