@keyframes heart{                           
  0% {
      transform: scale(1.3);
      }   
  40% {
      transform: scale(0.76);
      }   
  80%{
    transform: scale(1.3);
  }
}



.logo{
  height: 200px;
  width: 200px;
  position: absolute;
  right: 45%;
  top: 40%;
  animation-name: heart;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: white ;
  border-radius: 50%; ;
}

.logo:hover{
  animation-play-state: paused;;
  border: solid 2px black;
  cursor:pointer;
}
  
.lady{
  padding: 0;
  margin:0; 
}
.index{
  text-align:center;;
}
.font-index{
  font-family:'Playfair Display SC';
  font-size: 5rem;
  font-style: italic;
  margin:0;
  padding:0;
}

@media only screen and (max-width:500px){
  .logo{
    right:0;
    left: 100px; 
  }
  .font-index{
    font-size: 4.4rem;
  }
    
}
