nav{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto;
  margin-top: 20px; 
  align-items: center;
  justify-content: center; ;
}

@media (max-width: 800px){
  nav{
    grid-template-columns:1fr;
    grid-template-rows: repeat(4,1fr);
    width: 100%;
  }
}

a{
  text-decoration: none; 
}



.nav-logo{
  left:20%;
}

.nav-link{
  font-family: "laila","Fira mono",Arial;
  font-size: 1.75rem;
  color:black; 
  background: linear-gradient(to right, pink 50%,  white 50%);
  background-size: 200% 100%;
  background-position:right;
  margin-left:10px;
  transition:all 1s ease;
}

.nav-link:hover{
  background-position: left ;
}

.nav-logo{
  background: linear-gradient(to top, pink 50%,  white 50%);
  background-size: 100% 200%;
  background-position:top;
  margin-left:10px;
  transition:all 1s ease;
  border-radius:50%;
}

.nav-logo:hover{
  background-position:bottom;
}
