nav{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto;
  margin-top: 20px; 
  align-items: center;
  justify-content: center; ;
  background-color: #debaba;
}

@media (max-width: 800px){
  nav{
    grid-template-columns:1fr;
    grid-template-rows: repeat(4,1fr);
    width: 100%;
  }
  div > .fill-click{
    background-position: bottom;
  }
  .nav-logo{
    display: inline-block;
  }
}

a{
  text-decoration: none; 
}


@media (min-width:800px){
  .nav-logo{
    left:20%;
    transition: transform 0.2s;
    background-color: white;
  }
  .nav-logo:hover{
    background-position:bottom;
    transform: scale(1.25);
  }
}
.nav-link{
  font-family: "laila","Fira mono",Arial;
  font-size: 1.75rem;
  color:black; 
  margin-left:10px;
  transition:all 0.5s ease;
}

.nav-link:hover{
  color: white;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}


.nav-logo{
  background: linear-gradient(to top, #E7DADB 50%,  white 50%);
  background-size: 100% 200%;
  background-position:top;
  margin-left:10px;
  transition:all 0.5s ease;
  border-radius:50%;
  
  .active & {
    background-position: bottom;
   }
}



