nav{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto;
  margin-top: 20px; 
  align-items: center;
  justify-content: center; ;
}

@media (max-width: 800px){
  nav{
    grid-template-columns:1fr;
    grid-template-rows: repeat(4,1fr);
    width: 100%;
  }
  div > .fill-click{
    background-position: bottom;
  }
  .nav-logo{
    display: inline-block;
  }
}

a{
  text-decoration: none; 
}


@media (min-width:800px){
  .nav-logo{
    left:20%;
  }
  .nav-logo:hover{
    background-position:bottom;
  }
}
.nav-link{
  font-family: "laila","Fira mono",Arial;
  font-size: 1.75rem;
  color:black; 
  background: linear-gradient(to right, #e8cece 50%,  white 50%);
  background-size: 220% 100%;
  background-position:right;
  margin-left:10px;
  transition:all 0.5s ease;
}

.nav-link:hover{
  background-position: left;
}


.nav-logo{
  background: linear-gradient(to top, #e8cece 50%,  white 50%);
  background-size: 100% 200%;
  background-position:top;
  margin-left:10px;
  transition:all 0.5s ease;
  border-radius:50%;
  
  .active & {
    background-position: bottom;
   }
}



